# Copyright Contributors to the Open Shading Language project.
# SPDX-License-Identifier: BSD-3-Clause
# https://github.com/imageworks/OpenShadingLanguage

# .travis.yml for OSL

language: cpp
osx_image: xcode10
dist: xenial


# Add-ons: specify apt packages for Linux
# We actaully specify packages per-matrix-entry, so these don't do anything
# except to tag them (&add-sources, &common-packages, &common-boost-packages)
# so they can be referened later ('*') to save repetition.
addons:
  apt:
   sources: &add-sources
      - ubuntu-toolchain-r-test
   packages: &common-packages
      - libgif-dev
      - libfreetype6-dev
      - python-numpy
      - ninja-build
      - libfreetype6-dev
      - libpugixml-dev
   packages: &common-boost-packages
      - libboost1.58-dev
      - libboost-filesystem1.58
      - libboost-regex1.58
      - libboost-system1.58
      - libboost-thread1.58
   packages: &old-boost-packages
      - libboost1.55-dev
      - libboost-filesystem1.55
      - libboost-regex1.55
      - libboost-system1.55
      - libboost-thread1.55

cache:
    ccache: true
    apt: true
    directories:
      - $HOME/.ccache

before_install:
    - source src/build-scripts/ci-startup.bash
    - export WHICHGCC=${WHICHGCC:="4.8"}
    - if [ "$CXX" == "g++" ]; then export CXX="g++-${WHICHGCC}" ; fi

install:
    - if [ $TRAVIS_OS_NAME == osx ] ; then source src/build-scripts/install_homebrew_deps.bash ; fi
    - if [ "$BUILD_CMAKE" == "1" ] ; then source src/build-scripts/build_cmake.bash ; fi
    - source src/build-scripts/build_llvm.bash ;
    - if [ $TRAVIS_OS_NAME == linux ] ; then source src/build-scripts/build_pybind11.bash ; fi
    - if [ $TRAVIS_OS_NAME == linux ] ; then CXX="ccache $CXX" source src/build-scripts/build_openexr.bash ; fi

      # Note: can remove the ILMBASE_HOME/OPENEXR_HOME when OIIO 2.x is floor
    - export OPENIMAGEIO_MAKEFLAGS="$OPENIMAGEIO_MAKEFLAGS -j2 DEBUG= USE_PYTHON=0 OIIO_BUILD_TESTS=0"
    - export ENABLE_iinfo=0 ENABLE_iv=0 ENABLE_igrep=0 ENABLE_iconvert=0 ENABLE_testtex=0
    - export ENABLE_cineon=0 ENABLE_DDS=0 ENABLE_DPX=0 ENABLE_FITS=0
    - export ENABLE_iff=0 ENABLE_jpeg2000=0 ENABLE_PNM=0 ENABLE_PSD=0
    - export ENABLE_RLA=0 ENABLE_SGI=0 ENABLE_SOCKET=0 ENABLE_SOFTIMAGE=0
    - export ENABLE_TARGA=0 ENABLE_WEBP=0 ENABLE_TARGA=0
    - export OPENIMAGEIO_SITE=travis
    - export OPENIMAGEIO_INSTALLDIR=$HOME/ext/OpenImageIO/dist/$ARCH
    - export OSL_SITE=travis
    - source src/build-scripts/build_openimageio.bash
    - if [ $TRAVIS_OS_NAME == linux ] ; then
          export BUILD_FLAGS="$BUILD_FLAGS LLVM_STATIC=1" ;
          export TEST_FLAGS="-E broken\|render-cornell\|render-oren-nayar\|render-veachmis\|render-ward" ;
      fi
    # ^^^ Linux only, can't make these test work. Exclude for now and return later. ;

# before_script:

script:
    - export LD_LIBRARY_PATH=$OpenImageIO_ROOT/lib:$OSL_ROOT/lib:$LD_LIBRARY_PATH
    - export DYLD_LIBRARY_PATH=$OpenImageIO_ROOT/lib:$OSL_ROOT/lib:$DYLD_LIBRARY_PATH
    - source src/build-scripts/ci-build-and-test.bash



branches:
  only:
    - master
    - /RB-/
    - /lg-/

matrix:
    fast_finish: true
    include:
      - name: "VFX Platform 2018 (gcc6, c++14), llvm 7, OIIO master, OpenEXR 2.3, avx/f16c"
        os: linux
        compiler: gcc
        addons:
          apt:
            sources: *add-sources
            packages:
              - *common-packages
              - *common-boost-packages
              - g++-6
        env: WHICHGCC=6 USE_CPP=14 LLVM_VERSION=7.0.1 OPENIMAGEIO_BRANCH=master OPENEXR_VERSION=2.3.0 USE_SIMD=avx,f16c BUILD_CMAKE=1
      - name: "MacOS (latest Apple clang, llvm 7, OIIO master, latest homebrew libs"
        os: osx
        compiler: clang
        env: PYTHON_VERSION=3.7 USE_CPP=14
      - name: "VFX Platform 2017 (gcc48, c++11), llvm 7, OIIO release, OpenEXR 2.3, sse4.2"
        os: linux
        dist: trusty
        compiler: gcc
        addons:
          apt:
            sources: *add-sources
            packages:
              - *common-packages
              - *old-boost-packages
        env: WHICHGCC=4.8 USE_CPP=11 LLVM_VERSION=7.0.1 USE_SIMD=sse4.2 OPENIMAGEIO_BRANCH=release OPENEXR_VERSION=2.3.0 BUILD_CMAKE=1
      - name: "Older things: OIIO 2.0, llvm 7, boost 1.58, OpenEXR 2.2"
        os: linux
        dist: trusty
        compiler: gcc
        addons:
          apt:
            sources: *add-sources
            packages:
              - *common-packages
              - *old-boost-packages
        env: WHICHGCC=4.8 USE_CPP=11 LLVM_VERSION=7.0.1 USE_SIMD=sse4.2 OPENIMAGEIO_BRANCH=RB-2.0 OPENEXR_VERSION=2.2.0 BUILD_CMAKE=1
        if: branch =~ /(master|RB|travis)/ OR type = pull_request
      - name: "gcc7, llvm7, C++14"
        os: linux
        compiler: gcc
        addons:
          apt:
            sources: *add-sources
            packages:
              - *common-packages
              - *common-boost-packages
              - g++-7
        env: WHICHGCC=7 USE_CPP=14 LLVM_VERSION=7.0.0 BUILD_CMAKE=1
        if: branch =~ /(master|RB|travis)/ OR type = pull_request
      - name: "Future: gcc8, C++14, LLVM 7, OIIO master, AVX/f16c"
        os: linux
        compiler: gcc
        addons:
          apt:
            sources: *add-sources
            packages:
              - *common-packages
              - *common-boost-packages
              - g++-8
        env: WHICHGCC=8 USE_CPP=14 LLVM_VERSION=7.0.0 USE_SIMD=avx,f16c BUILD_CMAKE=1
      - name: "DEBUG build, LLVM 7, OIIO master"
        os: linux
        compiler: gcc
        addons:
          apt:
            sources: *add-sources
            packages:
              - *common-packages
              - *common-boost-packages
              - g++-6
        env: DEBUG=1 WHICHGCC=6 LLVM_VERSION=7.0.0 OPENIMAGEIO_BRANCH=master BUILD_CMAKE=1
      - name: "Oldest everything: gcc4.8, LLVM 7, OIIO 2.0, OpenEXR 2.2, no simd"
        os: linux
        dist: trusty
        compiler: gcc
        addons:
          apt:
            sources: *add-sources
            packages:
              - *common-packages
              - *old-boost-packages
        env: USE_SIMD=0 LLVM_VERSION=7.0.1 OPENIMAGEIO_BRANCH=RB-2.0 OPENEXR_VERSION=2.2.0 BUILD_CMAKE=1
        if: branch =~ /(master|RB|travis)/ OR type = pull_request

notifications:
    email:
#        recipients:
#            - 
        on_success: change
        on_failure: always
