# .travis.yml for OSL

language: cpp
sudo: false
osx_image: xcode7.3
dist: trusty


# Add-ons: specify apt packages for Linux
addons:
  apt:
   sources:
      - boost-latest
      - ubuntu-toolchain-r-test
      - george-edison55-precise-backports
   packages:
      - cmake
      - cmake-data
      - g++-4.8
      - g++-6
      - g++-7
      - libboost1.55-all-dev
      - libtiff4-dev

cache:
    ccache: true
    apt: true
    directories:
      - $HOME/.ccache

before_install:
    - if [ "$WHICHGCC" == "" ]; then export WHICHGCC="4.8" ; fi
    - if [ $TRAVIS_OS_NAME == osx ] ; then
          export PLATFORM=macosx ;
          sysctl machdep.cpu.features ;
      elif [ $TRAVIS_OS_NAME == linux ] ; then
          export PLATFORM=linux64 ;
          cat /proc/cpuinfo | head -26 ;
      fi
    - export OIIOPLATFORM=$PLATFORM
    - if [ "$DEBUG" == 1 ] ; then export PLATFORM=${PLATFORM}.debug ; fi
    - echo "Build platform name is $PLATFORM"

install:
    - if [ "$CXX" == "g++" ]; then export CXX="g++-${WHICHGCC}" ; fi
    - export USE_CCACHE=1
    - export CCACHE_CPP2=1
    # Temporary fix: Use LG's private openexr branch, until the
    # fixes are merged into the OpenEXR project that will address
    # the warnings for gcc7 and C++17 compatibility.
    -   export EXRREPO=https://github.com/lgritz/openexr.git ;
    -   export EXRBRANCH=lg-cpp11 ;
    - if [ $TRAVIS_OS_NAME == osx ] ; then
          src/build-scripts/install_homebrew_deps.bash ;
      elif [ $TRAVIS_OS_NAME == linux ] ; then
          CXX="ccache $CXX" CCACHE_CPP2=1 src/build-scripts/build_openexr.bash ;
          export ILMBASE_HOME=$PWD/openexr-install ;
          export OPENEXR_HOME=$PWD/openexr-install ;
          if [ "$LLVM_VERSION" == "" ]; then export LLVM_VERSION="3.9.0" ; fi ;
          wget http://releases.llvm.org/${LLVM_VERSION}/clang+llvm-${LLVM_VERSION}-x86_64-linux-gnu-ubuntu-14.04.tar.xz ;
          tar xf clang+llvm-${LLVM_VERSION}-x86_64-linux-gnu-ubuntu-14.04.tar.xz ;
          rm -f clang+llvm-${LLVM_VERSION}-x86_64-linux-gnu-ubuntu-14.04.tar.xz ;
          mv clang+llvm* llvm-install ;
          export LLVM_DIRECTORY=$PWD/llvm-install ;
      fi
    - export OIIOMAKEFLAGS="$OIIOMAKEFLAGS -j2 DEBUG= USE_PYTHON=0 OIIO_BUILD_TESTS=0"
    - export OPENIMAGEIO_SITE=travis
    - export OSL_SITE=travis
    - src/build-scripts/build_openimageio.bash
    - export OPENIMAGEIOHOME=$PWD/OpenImageIO/dist/$OIIOPLATFORM
    - export PATH=$OPENIMAGEIOHOME/bin:$PATH
    - export DYLD_LIBRARY_PATH=$OPENIMAGEIOHOME/lib:$DYLD_LIBRARY_PATH
    - export LD_LIBRARY_PATH=$OPENIMAGEIOHOME/lib:$LD_LIBRARY_PATH
    - export PYTHONPATH=$OPENIMAGEIOHOME/python:$PYTHONPATH
    - if [ $TRAVIS_OS_NAME == linux ] ; then
          export BUILD_FLAGS="$BUILD_FLAGS LLVM_STATIC=1" ;
          export TEST_FLAGS="-E broken\|render-cornell\|render-oren-nayar\|render-veachmis\|render-ward" ;
      fi
    # ^^^ Linux only, can't make these test work. Exclude for now and return later. ;

# before_script:

script:
    - make VERBOSE=1 $BUILD_FLAGS cmakesetup
    - make -j2 $BUILD_FLAGS
    - export LSAN_OPTIONS=suppressions=$PWD/src/build-scripts/nosanitize.txt
    - export OSLHOME=$PWD/dist/$PLATFORM
    - export OIIO_LIBRARY_PATH=$OSLHOME/lib:${OIIO_LIBRARY_PATH}
    - make $BUILD_FLAGS test


after_success:
    - if [ "$CODECOV" == 1 ]; then bash <(curl -s https://codecov.io/bash) ; fi

after_failure:
# FIXME: find failed logs, stash them or send them to lg?

branches:
  only:
    - master
    - /RB-/
    - /lg-/

matrix:
    fast_finish: true
    include:
      # Build with C++11, default compiler, optimized build, against OIIO master
      - os: linux
        compiler: gcc
      - os: osx
        compiler: clang
    # Test against the older release branch of OIIO (all the other tests
    # are against OIIO master). Test against a higher SSE level.
      - os: linux
        compiler: gcc
        env: OIIOBRANCH=release USE_SIMD=sse4.2
    # Test gcc 5, also against higher SSE level
    #  - os: linux
    #    compiler: gcc
    #    env: WHICHGCC=5 USE_SIMD=sse4.2
    # Test gcc6, and highest SIMD level supported by Travis, and newer LLVM
      - os: linux
        compiler: gcc
        env: WHICHGCC=6 USE_SIMD=avx,f16c LLVM_VERSION=4.0.1
    # Linux only: test gcc 7, also test C++14 and even newer LLVM
      - os: linux
        compiler: gcc
        env: WHICHGCC=7 USE_CPP=14 LLVM_VERSION=5.0.0
    # Build with C++11, DEBUG build, against OIIO master
      - os: linux
        compiler: gcc
        env: DEBUG=1
    # One more, just for the heck of it, turn all SIMD off, and also test
    # against the oldest LLVM we still support.
      - os: linux
        compiler: gcc
        env: USE_SIMD=0 LLVM_VERSION=3.5.2

notifications:
    email:
#        recipients:
#            - 
        on_success: change
        on_failure: always
